:root {
  --ease: cubic-bezier(.82, 0, .12, 1);
  --width: 800px;
  --header-height: 400px;

  --tracking: 0.05rem;
  --tracking-medium: 0.5rem;
  --tracking-large: 0.8rem;

  --dark: #000;
  --blue: #33A9FF;
  --light-gray: #fafafa;

  --bg: #fff;
  --fg: #868E96;
  --fg-dark: #212529;

  --selection-bg: var(--blue);
  --selection-fg: white;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 300;
  background: var(--bg);
  color: var(--fg-dark);
  line-height: 1;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-fg);
}

h1, h2, h3, h4 {
  margin-top: 75px;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--fg-dark);
}

h1 {
  margin-top: 0;
  font-size: 1.5rem;
}

h1 + p {
  font-size: 1.5rem;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 1.6rem 0;
  line-height: 1.6;
  color: var(--fg-color-light);
}

li strong,
p strong {
  color: var(--fg-dark);
  font-weight: 500;
}

li a,
p a {
  color: var(--fg-dark);
  font-weight: 400;
  padding-bottom: 3px;
  border-bottom: 1px dotted #ddd;
}

li a:hover,
p a:hover {
  color: var(--blue);
  border-bottom: none;
}

p a:hover {
  border-bottom-color: var(--color);
}

ul, ol {
  margin: 0 0 2rem 2rem;
  padding: 0;
}

ul ul {
  margin: 10px 0 10px 30px;
}

ul li, ol li {
  margin: 0.5rem 0;
  color: var(--fg-color-light);
  line-height: 1.5em;
}

ul li strong {
  color: var(--fg-color);
  font-weight: 500;
}

pre {
  background: var(--light-gray);
  color: var(--dark);
  padding: 30px;
  border-radius: 2px;
  overflow: auto;
  font: "Source Code Pro", Menlo, monospace;
  font-size: .8em;
  line-height: 1.5em;
}

li > code,
p > code {
  border: 1px solid #DEE2E6;
  font-size: 0.75rem;
  padding: 3px 10px;
  border-radius: 3px;
  white-space: nowrap;
  font-weight: 600;
  font-family: inherit;
}

details > summary {
  cursor: pointer;
  outline: none;
  user-select: none;
}

details > p {
  border-left: 3px solid var(--dark);
  padding-left: 15px;
}

.Wrapper {
  display: flex;
  justify-content: center;
}

.Container {
  width: var(--width);
  display: flex;
  flex-direction: column;
}

.Header-wrapper, .Content-wrapper {
  display: flex;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.Header-sidebar, .Sidebar {
  flex: 1 1 auto;
}

.Header, .Content {
  width: 75%;
}

.Content img {
  max-width: 100%;
}

.Menu {
  position: sticky;
  top: 50px;
  color: var(--fg-dark);
}

.Menu > .item {
  padding-bottom: 15px;
}

.Menu > .item > a {
  position: relative;
  user-select: none;
  font-weight: 400;
  transition: color 200ms;
  color: var(--fg);
}

.Menu > .item > a.active {
  color: var(--fg-dark);
}

.Menu > .item > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: var(--fg-dark);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left center;
  transition: all 250ms var(--ease);
}

.Menu > .item > a:hover {
  color: var(--fg-dark);
}

.Menu > .item > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.Page {
  margin-top: 100px;
  padding-top: 50px;
}

.Page:first-child {
  margin-top: 0;
  padding-top: 0;
}

.Title {
  margin: 5px 0;
  line-height: 2.2em;
}

.Title.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
}

.Title.margin {
  margin-bottom: 80px;
}

.Title > span {
  display: block;
}

.Title .subtext {
  color: var(--fg-color-light);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.Title .text {
  letter-spacing: var(--tracking);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.Title.small .text {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  line-height: 2rem;
}

.Anchor {
  position: relative;
  margin-left: -14px;
  opacity: 0.15;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.Anchor svg {
  position: absolute;
  right: 5px;
  top: 0;
}

.Anchor svg path {
  pointer-events: all
}

.Anchor:hover {
  opacity: 1;
}

.Footer {
  margin-top: 50px;
  border-top: 1px solid var(--fg);
  padding: 25px 0 50px;
  height: 150px;
  text-align: center;
}

@media screen and (max-width: 850px) {
  html, body {
    --header-height: 300px;
    --width: 80%;
    font-size: 14px;
  }

  .Content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .Sidebar {
    margin-bottom: 30px;
  }

  .Content {
    width: 100%;
  }
}
