doctype html

html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{page.meta.title} | #{site.meta.title}
    link(rel='stylesheet', href='/s/css/main.css')

  body

    .Wrapper
      .Container
        .Header-wrapper
          .Header-sidebar
            .Menu
              p Menu
              for item in site.meta.menu
                .item
                  a(href=item.url)= item.title
          .Header
            .Title.center
              span.text= page.meta.title
              span.subtext= page.meta.subtitle

        .Content-wrapper
          .Sidebar
            .Menu
              p Section
              .item
                a(href='#intro') Intro
              .item
                a(href='#about') About
              .item
                a(href='#more_info') More Info

          .Content
            block content

    .Wrapper
      .Container
        .Footer
          p Powered by
            |
            |
            a(href="https://nebulous-cms.org/") Nebulous CMS
            | . &copy;
            |
            |
            a(href="https://nebulous.design/") Nebulous Design
            |
            | 2018.

    script(src='/s/js/main.js')
